@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline;
    }

    .button {
        @apply rounded-sm p-2 md:text-sm text-xs bg-gradient-to-b from-yellow-300 to-yellow-500 border border-yellow-400 focus:outline-none focus:ring-2 focus:ring-yellow-600;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
